services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: stock_data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow -d stock_data"]
      interval: 5s
      retries: 5

  airflow-init:
    image: apache/airflow:2.9.3-python3.12
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/stock_data
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    entrypoint: >
      bash -c "
      airflow db init &&
      airflow users create --username admin --password admin --firstname Aashish --lastname Bogati --role Admin --email aashish@example.com || true
      "

  airflow-webserver:
    image: apache/airflow:2.9.3-python3.12
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/stock_data
      PYTHONPATH: /opt/airflow
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./pipeline_utils:/opt/airflow/pipeline_utils
      - ./etl_pipeline.py:/opt/airflow/etl_pipeline.py
      - ./.env:/opt/airflow/.env
      - ./logs:/opt/airflow/logs
      - ./cleanData:/opt/airflow/clean_data
      - ./stock_names_data:/opt/airflow/stock_names_data
    command: airflow webserver

  airflow-scheduler:
    image: apache/airflow:2.9.3-python3.12
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/stock_data
      PYTHONPATH: /opt/airflow
    volumes:
      - ./dags:/opt/airflow/dags
      - ./pipeline_utils:/opt/airflow/pipeline_utils
      - ./etl_pipeline.py:/opt/airflow/etl_pipeline.py
      - ./.env:/opt/airflow/.env
      - ./logs:/opt/airflow/logs
      - ./cleanData:/opt/airflow/clean_data
      - ./stock_names_data:/opt/airflow/stock_names_data
    command: airflow scheduler

