version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: stock_data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      timeout: 5s
      retries: 5

  airflow-init:
    image: apache/airflow:2.9.3-python3.12
    container_name: airflow-init
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/stock_data
    volumes:
      - ./dags:/opt/airflow/dags
    entrypoint: >
      bash -c "
      airflow db init &&
      airflow users create --username admin --firstname Aashish --lastname Bogati --role Admin --email aashish@example.com --password admin || true
      "

  airflow:
    image: apache/airflow:2.9.3-python3.12
    container_name: airflow
    restart: unless-stopped
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/stock_data
      - PYTHONPATH=/opt/airflow
    ports:
      - 8080:8080
    volumes:
      - ./dags:/opt/airflow/dags
      - ./pipeline_utils:/opt/airflow/pipeline_utils
      - ./clean_data:/opt/airflow/clean_data
      - ./stock_names_data:/opt/airflow/stock_names_data
      - ./.env:/opt/airflow/.env
      - ./etl_pipeline.py:/opt/airflow/etl_pipeline.py
      - ./requirements.txt:/opt/airflow/requirements.txt
    command: >
      bash -c "
      airflow scheduler &
      airflow webserver
      "
